.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-about-icon-1 {
	font-size:(237.313/10)*1rem;
	width:(219.533/237.313)*1em;
}
.icon-about-icon-2 {
	font-size:(229.935/10)*1rem;
	width:(121.038/229.935)*1em;
}
.icon-about-icon-3 {
	font-size:(203.791/10)*1rem;
	width:(205/203.791)*1em;
}
.icon-about-icon-4 {
	font-size:(172.928/10)*1rem;
	width:(215/172.928)*1em;
}
.icon-about-icon-5 {
	font-size:(176.868/10)*1rem;
	width:(227.993/176.868)*1em;
}
.icon-advantages-icon-1 {
	font-size:(21/10)*1rem;
	width:(24/21)*1em;
}
.icon-advantages-icon-2 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-advantages-icon-3 {
	font-size:(19/10)*1rem;
	width:(20/19)*1em;
}
.icon-advantages-icon-4 {
	font-size:(22/10)*1rem;
	width:(23/22)*1em;
}
.icon-advantages-icon-5 {
	font-size:(24/10)*1rem;
	width:(18/24)*1em;
}
.icon-advantages-icon-6 {
	font-size:(23/10)*1rem;
	width:(24/23)*1em;
}
.icon-advantages-icon-7 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-advantages-icon-8 {
	font-size:(21.3/10)*1rem;
	width:(24/21.3)*1em;
}
.icon-arrow-down {
	font-size:(196.062/10)*1rem;
	width:(311.033/196.062)*1em;
}
.icon-arrow-right {
	font-size:(34.2/10)*1rem;
	width:(18.6/34.2)*1em;
}
.icon-calendar-from {
	font-size:(316.404/10)*1rem;
	width:(336.009/316.404)*1em;
}
.icon-close {
	font-size:(42.2/10)*1rem;
	width:(42.2/42.2)*1em;
}
.icon-coins {
	font-size:(232.441/10)*1rem;
	width:(178.993/232.441)*1em;
}
.icon-facebook-icon {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
.icon-gallery {
	font-size:(395/10)*1rem;
	width:(499/395)*1em;
}
.icon-icon-pdf {
	font-size:(552.111/10)*1rem;
	width:(499.558/552.111)*1em;
}
.icon-menu-arrow {
	font-size:(7.4/10)*1rem;
	width:(4.6/7.4)*1em;
}
.icon-not-found {
	font-size:(305.87/10)*1rem;
	width:(305.976/305.87)*1em;
}
.icon-papier {
	font-size:(381.297/10)*1rem;
	width:(417/381.297)*1em;
}
.icon-pdf {
	font-size:(552.111/10)*1rem;
	width:(499.558/552.111)*1em;
}
.icon-phone {
	font-size:(30.668/10)*1rem;
	width:(28.8/30.668)*1em;
}
.icon-pint-icon {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
.icon-play-icon {
	font-size:(201.198/10)*1rem;
	width:(173.311/201.198)*1em;
}
.icon-play-icon-2 {
	font-size:(5.9/10)*1rem;
	width:(3.3/5.9)*1em;
}
.icon-search-icon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-site-makers {
	font-size:(149.5/10)*1rem;
	width:(609.9/149.5)*1em;
}
.icon-slider-arrow {
	font-size:(347.998/10)*1rem;
	width:(192.907/347.998)*1em;
}
.icon-success {
	font-size:(441.967/10)*1rem;
	width:(441.986/441.967)*1em;
}
.icon-twitter-icon {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
